:root {
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #723d46, #e26d5c);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-layer {
  width: 300px;
  height: 120px;
  background: linear-gradient(-45deg, #c9cba3, #ffe1a8);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 60px 60px;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  border-radius: 50%;
  /* background: gray; */
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.rectangle-1 {
  width: 70%;
  height: 40px;
  /* background: gray; */
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
  border-radius: 5px;
}

.rectangle-2 {
  width: 90%;
  height: 50px;
  /* background: gray; */
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  border-radius: 5px;
}

.box-layer * {
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 2s infinite;
}

@keyframes load {
  100% {
    background-position: -100% 0;
  }
}
